<div class="row">
    <div class="col s12">
        <h2>Welcome!</h2>
    </div>
</div>

<div *ngIf="!currentLoadedWorkspace" class="row">
    <div class="col s12">
        <div class="card-panel red lighten-2">
            It looks like a workspace has not yet been loaded into Solar Magic. 
            You can open a workspace or create a new one.
        </div>
    </div>
</div>

<div *ngIf="currentLoadedWorkspace" class="row">
    <div class="col s12">
        <div class="card-panel green lighten-2">
            Current workspace: {{currentLoadedWorkspace}}
        </div>
    </div>
</div>

<div class="row">
    <div class="input-field col s12">
        <input placeholder="C:\projects\..." type="text" [(ngModel)]="workspaceChange">
        <label for="some_input" class="active">Absolute path to your SMW file</label>
    </div>
</div>

<div class="row">
    <div class="col s12 item-row">
        <button class="waves-effect waves-light btn" (click)="loadWorkspace()">Load Workspace</button>
        <button class="waves-effect waves-light btn" (click)="newWorkspace()">Create New Workspace</button>
    </div>
</div>

<ng-container *ngIf="currentLoadedWorkspace">
    <div class="row">
        <div class="col s12">
            <h3>Project Health</h3>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <h4>Music</h4>
            <div *ngIf="checkMusicErrors.length > 0" class="card-panel red lighten-2">
                There's an issue with Music integration in your project.
                <ul *ngFor="let error of checkMusicErrors" class="error-list">
                    <li>{{error}}</li>
                </ul>
                <button class="waves-effect waves-light btn" (click)="buildMusicFolder()">Rebuild Music Folder</button>
            </div>
            <div *ngIf="checkMusicErrors.length === 0" class="card-panel green lighten-2">
                Looks like you're good to go with music!
            </div>
        </div>
    </div>
</ng-container>

<div class="row">
    <div class="col s12">
        <div class="divider"></div>
        <p>Solar Magic is a tool designed to work hand-in-hand with Lunar Magic, and to provide some 
            extra nice-to-have abilities.
        </p>
        <p>This project is open source and accepting reasonable pull requests.  <a (click)="openGithub()" class="pointer">The github can be found here.</a></p>

        <p>
            <b>bucketofwetsocks</b> - creator
        </p>

        <p>
            <i>All data is received from smwcentral.com</i>
            <br>
            <i>The music player is courtesy of smwcentral.com</i>
        </p>
    </div>
</div>

