/* You can add global styles to this file, and also import other style files */
.container {
    width: 100% !important;
    max-width: 100% !important;
}

table {
    font-size: smaller;
}

.pointer {
    cursor: pointer;
}

.item-row > *:not(:first-child) {
    margin-left: 5px;
}

.error-list > li {
    list-style-type: disc !important;
    list-style-position: inside;
}

.inline-list > * {
    display: inline;
}

.collection.small > .collection-item {
    padding: 3px 6px;
    line-height: 2.5rem;
}

.collection.small .material-icons {
    font-size: 24px;
}

/** Styles for the drag-and-drop feature. **/
.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drop-item:last-child {
    border: none;
}

.drop-list.cdk-drop-list-dragging .drop-item:not(.drop-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drop-placeholder {
    background: #ccc;
    border: dotted 3px #999;
    min-height: 60px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
  