<div class="collection">
    <a routerLink="home" routerLinkActive="active" class="collection-item">Home</a>
    <ng-container *ngIf="currentLoadedWorkspace">
        <a routerLink="music" routerLinkActive="active" class="collection-item">Music</a>
        <a routerLink="blocks" routerLinkActive="active" class="collection-item">Blocks</a>

    </ng-container>
    <ng-container *ngIf="!currentLoadedWorkspace">
        <a class="collection-item disabled">Music</a>
        <a class="collection-item disabled">Blocks</a>

    </ng-container>
</div>