<h2>Music</h2>
<div class="divider"></div>

<app-loader *ngIf="loading"></app-loader>

<ul *ngIf="!loading" class="pagination">
    <li class="{{ musicSearch.pagination.requestedPage <= 1 ? 'disabled' : 'active pointer' }}" (click)="search(musicSearch.pagination.requestedPage - 1)"><a><i class="material-icons">chevron_left</i></a></li>
    <ng-container *ngFor="let number of paginationList">
        <li class="{{ musicSearch.pagination.requestedPage === number ? 'disabled' : 'active pointer' }}" (click)="search(number)"><a>{{number}}</a></li>
    </ng-container>
    <li class="{{ musicSearch.pagination.requestedPage >= musicSearch.pagination.totalPages ? 'disabled' : 'active pointer' }}" (click)="search(musicSearch.pagination.requestedPage + 1)"><a><i class="material-icons">chevron_right</i></a></li>
</ul>

<table *ngIf="!loading" class="highlight">
    <thead>
        <tr>
            <th>Name</th>
            <th>Duration</th>
            <th>Description</th>
            <th>Authors</th>
            <th>Rating</th>
            <th>Size</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of musicSearch.results">
            <td>{{item.title}}</td>
            <td>{{item.duration}}</td>
            <td>{{item.description}}</td>
            <td>{{item.authors}}</td>
            <td>{{item.rating}}</td>
            <td>{{item.size}}</td>
            <td>
                <i class="material-icons pointer" (click)="playSong(item)">play_arrow</i>
            </td>
        </tr>
    </tbody>
</table>

